---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<section aria-labelledby="home-title">
  <h1 id="home-title">{title}</h1>
  <p>{body}</p>
</section>
